<!-- <ul class="menu menu-horizontal flex w-full bg-base-200 rounded-box my-2">
  @for (route of routes; track route.path) {
  <li><a [routerLink]="route.path" routerLinkActive="text-accent">{{route.title}}</a></li>
  }
</ul> -->

<div class="navbar rounded-xl mb-5 bg-base-200 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div
        aria-label="menu"
        tabindex="0"
        role="button"
        class="btn btn-ghost lg:hidden"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
      >
        <li>
          <a
            routerLink="basic"
            routerLinkActive="text-blue-400 font-bold underline"
            >Pipes Básicos</a
          >
        </li>
        <li>
          <a
            routerLink="numbers"
            routerLinkActive="text-blue-400 font-bold underline"
            >Pipes Numéricos</a
          >
        </li>
        <li>
          <a
            routerLink="uncommon"
            routerLinkActive="text-blue-400 font-bold underline"
            >Pipes No tan comunes</a
          >
        </li>
        <li>
          <a
            routerLink="custom"
            routerLinkActive="text-blue-400 font-bold underline"
            >Pipes Personalizados</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a
          routerLink="basic"
          routerLinkActive="text-blue-400 font-bold underline"
          >Pipes Básicos</a
        >
      </li>
      <li>
        <a
          routerLink="numbers"
          routerLinkActive="text-blue-400 font-bold underline"
          >Pipes Numéricos</a
        >
      </li>
      <li>
        <a
          routerLink="uncommon"
          routerLinkActive="text-blue-400 font-bold underline"
          >Pipes No tan comunes</a
        >
      </li>
      <li>
        <a
          routerLink="custom"
          routerLinkActive="text-blue-400 font-bold underline"
          >Pipes Personalizados</a
        >
      </li>
      <li>
        <app-theme-controller class="flex content-center" />
      </li>
    </ul>
  </div>
</div>
